nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(254, 158, 13);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  width: 130px;
  height: auto;
}

.navbar-links-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-links-container a {
  text-decoration: none;
  color: #f5f3f1;
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar-cart-icon {
  font-size: 30px;
  color: #fff;
}

.primary-button {
  padding: 0.8rem 1.8rem;
  background-color: #e9900c;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.primary-button:hover {
  background-color: #8d5f1a;
}

.navbar-menu-container {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Responsive Navbar Menu */
.navbar-links-container.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(15, 15, 15, 0.9);
  padding: 2rem 0;
  z-index: 99;
}

.navbar-links-container.active a {
  color: white;
  padding: 1rem 0;
  font-size: 1.2rem;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
  .navbar-links-container {
    display: none;
  }

  .navbar-menu-container {
    display: block;
  }

  .nav-logo-container {
    max-width: 130px;
  }
}
